header img{
    height:90px;
    width:200px;
    display: flex;
    float: left;
}


nav a{
    color: #000000;
    font-family: 'Courier New', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 27px;
    padding:0px 20px;
   
}

nav a:hover{
    color: #666666;
}

nav{
    margin-top: 3px;
    padding-left: 15%;
}

main img{
    width: 800px;
    height:600px;
    
}

main p{
    font-size: 20px;
}

main h3{
    text-align: center;
    font-size: 20px;
}

.poster{
   display: flex;
   
}

body{
    background-color:#FFFAFA;
}

.package_table img{
    display: flex;
    width: 60%;
    margin-left: 0px;
    margin-right: 75px;
}

.package_table td{
    font-family: 'Courier New', serif;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.package_table th{
    font-family: 'Courier New', serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-right: 120px;
    
}

.package_table p{
    font-family: 'Courier New', serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.gender img{
    width: 60%;
}

.gender td{
    font-family: 'Courier New', serif;
    font-size: 25px;
    font-weight: bold;
    color: #7F3F00;
    text-align:center;
}

.numPhone img{
    width: 100px;
    height: 100px;
    margin-top: 100px;
}

.numPhone a{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    
}

.numPhone a:hover{
    color: #666666;
}

.numPhone{
    text-align: center;
}

.type1 img{
    width: 300px;
    height: 400px;
    padding: 15px;
}

.type1 {
   text-align: center;
   margin-left: 5em;
   margin-right: 5em;
   display: flex;
}

.type1 th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
 }

.typeCultural img{
    width: 300px;
    height: 400px;
    padding: 15px;
}

.typeCultural {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeCultural th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}

.typeDenim img{
    width: 300px;
    height: 450px;
    padding: 15px;
}

.typeDenim {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeDenim th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}

.typeFestival img{
    width: 300px;
    height: 400px;
    padding: 15px;
}

.typeFestival{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeFestival th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}


.typeFuturistic img{
    width: 300px;
    height: 450px;
    padding: 15px;
}

.typeFuturistic{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeFuturistic th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}

.typeMinimalist img{
    width: 300px;
    height: 450px;
    padding: 15px;
}

.typeMinimalist{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeMinimalist th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}

.typeRetro img{
    width: 300px;
    height: 470px;
    padding: 15px;
}

.typeRetro{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeRetro th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}

.typeStreetwear img{
    width: 300px;
    height: 500px;
    padding: 15px;
}

.typeStreetwear{
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeStreetwear th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}

.typeVintage img{
    width: 300px;
    height: 450px;
    padding: 15px;
}

.typeVintage {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

.typeVintage th{
    border: 1px solid #666666;
    border-collapse: collapse;
    padding: 10px ;
}